AplicacionWeb/Service References/ServidorValeria/Stocks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4757/Stocks.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Zuliaworks.Netzuela.Paris.ServidorValeria" />
  <xs:element name="GetStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Zuliaworks.Netzuela.Paris.ServidorValeria" minOccurs="0" name="GetStockResult" nillable="true" type="q1:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>